# Exploring the Lego Dataset
### Author: Bryce Drynan
### Date 6/6/24

In [4]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import sklearn 
import string as str

In [31]:
directory = "C:/Users/bryce/Downloads/Lego_Data/"

for file in os.listdir(directory):
    name = directory+file
    if '.csv' in name :
        globals()[file[:-4]] = pd.read_csv(name)

In [32]:
colors.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [33]:
parts.head()

  part_num                                               name  part_cat_id
0   0687b1                        Set 0687 Activity Booklet 1           17
1     0901  Baseplate 16 x 30 with Set 080 Yellow House Print            1
2     0902  Baseplate 16 x 24 with Set 080 Small White Hou...            1
3     0903     Baseplate 16 x 24 with Set 080 Red House Print            1
4     0904  Baseplate 16 x 24 with Set 080 Large White Hou...            1

In [34]:
inventory_parts.head()

   inventory_id     part_num  color_id  quantity is_spare
0             1     48379c01        72         1        f
1             1        48395         7         1        f
2             1     mcsport6        25         1        f
3             1       paddle         0         1        f
4             3  11816pr0005        78         1        f

In [35]:
parts = parts.merge(part_categories, left_on= 'part_cat_id', right_on = 'id')

In [45]:
parts.drop(columns = 'id', inplace=True)
parts.columns = ['part_num', 'name', 'part_cat_id','part_category']

In [46]:
sets.merge(themes, left_on='theme_id', right_on='id')

,set_num,name_x,year,theme_id,num_parts,id,name_y,parent_id
0,00-1,Weetabix Castle,1970,414,471,414,Castle,411.0
1,0011-2,Town Mini-Figures,1978,84,12,84,Supplemental,67.0
2,2181-1,Infomaniac,1997,84,4,84,Supplemental,67.0
3,300-1,T-Junction Road Plates,1978,84,2,84,Supplemental,67.0
4,301-1,Curved Road Plates,1978,84,2,84,Supplemental,67.0
...,...,...,...,...,...,...,...,...
11668,K6762-1,Western Kit,2002,475,3,475,Western,NaN
11669,K7623-1,Indiana Jones Classic Adventures Collection,2008,264,4,264,Indiana Jones,NaN
11670,llca27-1,Legoland Pirate with Parrot (Legoland California),2006,430,70,430,Pirates,425.0
11671,LLCA29-1,Pirate Treasure Chest Bank (LLCA Ambassador Pa...,2006,430,215,430,Pirates,425.0
11672,LLCA30-1,Pirate Ship Diorama (LLCA Ambassador Pass Excl...,2006,430,127,430,Pirates,425.0