# Exploring the Lego Dataset
### Author: Bryce Drynan
### Date 6/6/24

In [4]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import sklearn 
import string as str

In [56]:
directory = "C:/Users/bryce/Downloads/Lego_Data/"

for file in os.listdir(directory):
    name = directory+file
    if '.csv' in name :
        globals()[file[:-4]] = pd.read_csv(name)

In [57]:
colors.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [58]:
parts.head()

  part_num                                               name  part_cat_id
0   0687b1                        Set 0687 Activity Booklet 1           17
1     0901  Baseplate 16 x 30 with Set 080 Yellow House Print            1
2     0902  Baseplate 16 x 24 with Set 080 Small White Hou...            1
3     0903     Baseplate 16 x 24 with Set 080 Red House Print            1
4     0904  Baseplate 16 x 24 with Set 080 Large White Hou...            1

In [59]:
inventory_parts.head()

   inventory_id     part_num  color_id  quantity is_spare
0             1     48379c01        72         1        f
1             1        48395         7         1        f
2             1     mcsport6        25         1        f
3             1       paddle         0         1        f
4             3  11816pr0005        78         1        f

In [60]:
parts = parts.merge(part_categories, left_on= 'part_cat_id', right_on = 'id')

In [61]:
parts.drop(columns = 'id', inplace=True)
parts.columns = ['part_num', 'name', 'part_cat_id','part_category']

In [62]:
sets = sets.merge(themes, left_on='theme_id', right_on='id')

In [63]:
sets.drop(columns =['theme_id'], inplace=True)
sets.columns = ['set_num', 'set_name', 'year_released', 'num_parts', 'theme_id', 'theme_name', 'parent_id']

In [64]:
inventory_parts = inventory_parts.merge(colors, left_on='color_id', right_on='id')

In [66]:
inventory_parts.drop(columns=['color_id'], inplace = True)
inventory_parts.columns = ['inventory_id', 'part_num', 'quantity', 'is_spare', 'color_id',
       'color_name', 'rgb', 'is_trans']

In [67]:
part_inventory_full = inventory_parts.merge(parts, on='part_num')

In [69]:
part_inventory_full.columns = ['inventory_id', 'part_num', 'quantity', 'is_spare', 'color_id',
       'color_name', 'rgb', 'is_trans', 'part_name', 'part_cat_id',
       'part_category']